<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>
    <add key="OdooConnectionString" value="Server=127.0.0.1;Port=5432;User Id=logicode;Password=aaaa1111;Database=logicodeData" />
    <add key="OdooListenerConnectionString" value="Server=127.0.0.1;Port=5432;User Id=logicode;Password=aaaa1111;Database=logicodeData;SyncNotification=true" />
    <add key="CustomerOdooCommandListener" value="listen customerodoo;"/>
    <add key="InventoryCategoryOdooCommandListener" value="listen inventorcategoryodoo;"/>
    <add key="ItemInventoryOdooCommandListener" value="listen inventorytemplateodoo;"/>
    <add key="SaleOrderOdooCommandListener" value="listen salesorderodoo;"/>
  </appSettings>
</configuration>
